
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
    font-size: 15px;
}
@media (min-width: 768px) {
    body {
        width: 100%;
    }
}
p {
    margin: 0;
    color: #313131;
    font-weight: 400;
    word-wrap: break-word;
}
a {
    transition: border 0.1s linear, color 0.1s linear, background-color 0.1s linear;
    -webkit-transition: border 0.1s linear, color 0.1s linear, background-color 0.1s linear;
    color: #313131;
    background-color: transparent;
    text-decoration: none;
    white-space: nowrap;
}
h1 {
    font-size: 28px;
    font-weight: 700;
}
h2 {
    font-size: 18px;
    font-weight: 600;
}
#tag,
.main-tag {
    margin: 0 0 20px 0;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
@media (min-width: 1024px) {
    #tag,
    .main-tag {
        margin: 5px 30px 0 0;
    }
}
#fadeUp-animation,
.info-footer-about,
.info-footer-social-icon,
.info-footer-social-icon--twitter,
.main-container-about,
.main-container-watersheds,
.main-container-clients,
.main-container-experience,
.main-container-resume,
.main-resume {
    opacity: 0;
    animation: fadeUp ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}
#grow {
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}
/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    33.3% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes hvr-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    33.3% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.wobble,
.main-watershed-title:after,
.main-resume:after {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.wobble:hover,
.main-watershed-title:hover:after,
.main-resume:hover:after,
.wobble:focus,
.main-watershed-title:focus:after,
.main-resume:focus:after,
.wobble:active,
.main-watershed-title:active:after,
.main-resume:active:after {
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
/* Fade In Animation */
@-webkit-keyframes fadeUp {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadeUp {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
/* Fade In Animation */
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}
.container-info {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 490px;
    background-image: url("../img/4.png");
    background-repeat: repeat;
}
@media (min-width: 768px) {
    .container-info {
        float: left;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 50%;
    }
}
.container-main {
    display: inline-block;
    padding: 20px;
}
@media (min-width: 768px) {
    .container-main {
        float: right;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 45%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
    }
}
.info-main {
    opacity: 0;
    width: 100%;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-delay: 0.3s;
}
@media (min-width: 768px) {
    .info-main {
        margin: 0;
        position: relative;
        top: 50%;
        transform: translateY(-60%);
    }
}
.info-headshot,
.info-headshot-img {
    display: block;
    margin: auto;
    width: 170px;
    height: 170px;
    border-radius: 200px;
    box-shadow: 0 5px 10px #39479D;
}
.info-tag {
    display: block;
    margin: 30px auto auto auto;
    opacity: 0.6;
    color: white;
    text-align: center;
}
.info-intro-text {
    display: block;
    margin: 10px auto auto auto;
    padding: 0 20px;
    max-width: 460px;
    color: white;
    font-size: 22px;
    text-align: center;
}
@media (min-width: 420px) {
    .info-intro-text {
        font-size: 28px;
    }
}
@media (min-width: 1024px) {
    .info-intro-text {
        max-width: 550px;
        padding: 0 40px;
        font-size: 40px;
    }
}
.info-intro-link {
    padding: 0 4px 2px 4px;
    color: white;
    border-bottom: 2px solid #62c4b0;
    text-decoration: none;
    word-wrap: break-word;
    white-space: initial;
    transition: background-color 0.3s, border-color 0.3s;
}
.info-intro-link:hover {
    background-color: #39479D;
    border-color: #b3d2de;
}
.info-button,
.info-button--dark {
    display: block;
    position: relative;
    width: 200px;
    margin: 30px auto auto auto;
    padding: 11px 24px;
    color: #344dA1;
    background: white;
    border-color: #344dA1;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
}
.info-button:after,
.info-button--dark:after {
    float: right;
    content: "";
    font-family: "FontAwesome";
    font-size: 12px;
}
.info-button:hover,
.info-button--dark:hover {
    color: white;
    background-color: #344dA1;
}
@media (min-width: 768px) {
    .info-button,
    .info-button--dark {
        margin: 40px auto auto auto;
    }
}
.info-button--dark {
    color: white;
    background: #344dA1;
    border-color: white;
}
.info-button--dark:hover {
    color: #344dA1;
    background-color: white;
}
@media (min-width: 768px) {
    .info-button--dark {
        margin: 40px auto auto auto;
    }
}
.info-footer-about {
    animation-delay: 1.2s;
    position: absolute;
    left: 20px;
    bottom: 20px;
    height: 27px;
}
@media (max-width: 768px) {
    .info-footer-about {
        animation-delay: 0.6s;
    }
}
.info-footer-about-img {
    float: left;
}
.info-footer-about-text {
    float: left;
    margin: 0 0 0 10px;
    padding-top: 7px;
    font-size: 12px;
    color: white;
    transition: 0.3s opacity ease;
    opacity: 0.6;
    font-family: 'Anonymous Pro', monospace;
}
.info-footer-about-text:hover {
    opacity: 1;
}


.info-footer-social {
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 27px;
    float: right;
    margin: 0 0 0 10px;
    padding-top: 7px;
    font-size: 12px;
    color: white;
    transition: 0.3s opacity ease;
    opacity: 0.6;
    font-family: 'Anonymous Pro', monospace;
}

.info-footer-social-icon--twitter {
    float: right;
    margin: 0 0 0 10px;
    padding-top: 7px;
    font-size: 12px;
    color: white;
    transition: 0.3s opacity ease;
    font-family: 'Anonymous Pro', monospace;
}

.info-footer-social:hover {
    opacity: 1;
}

.info-footer-social-icon--twitter {
    animation-delay: 1.2s;
}
@media (max-width: 768px) {
    .info-footer-social-icon--twitter {
        animation-delay: .6s;
    }
}
.main-container,
.main-container-about,
.main-container-watersheds,
.main-container-clients,
.main-container-experience,
.main-container-resume {
    clear: both;
    display: block;
    margin: 40px 0 0 0;
    overflow: auto;
}
.main-container-about {
    animation-delay: 0.6s;
}
@media (max-width: 768px) {
    .main-container-about {
        animation-delay: 1s;
    }
}
.main-container-watersheds {
    animation-delay: 0.8s;
}
@media (max-width: 768px) {
    .main-container-watersheds {
        animation-delay: 1.2s;
    }
}
.main-container-clients {
    animation-delay: 1s;
}
@media (max-width: 768px) {
    .main-container-clients {
        animation-delay: 1.4s;
    }
}
.main-container-experience {
    animation-delay: 1.2s;
}
@media (max-width: 768px) {
    .main-container-experience {
        animation-delay: 1.6s;
    }
}
.main-container-resume {
    margin-bottom: 40px;
    animation-delay: 1.4s;
}
@media (max-width: 768px) {
    .main-container-resume {
        animation-delay: 1.8s;
    }
}
@media (min-width: 768px) {
    .main-container-resume {
        margin-bottom: 80px;
    }
}
.main-tag {
    color: #344dA1;
}
@media (min-width: 1024px) {
    .main-tag {
        clear: both;
        float: left;
        width: 80px;
        margin-right: 30px;
    }
}
.main-copy {
    line-height: 26px;
}
@media (min-width: 1024px) {
    .main-copy {
        float: left;
        width: 75%;
        max-width: 500px;
    }
}
.main-copy a {
    padding: 0 4px 2px 4px;
    border-bottom: 2px solid #A3C0FC;
    font-weight: 400;
    transition: background-color 0.3s, border-color 0.3s;
}
.main-copy a:hover {
    background-color: #E9F0FF;
    border-color: #344dA1;
}
.main-watershed,
.main-watershed--first {
    margin-bottom: 20px;
    width: 75%;
}
@media (min-width: 1024px) {
    .main-watershed,
    .main-watershed--first {
        float: left;
        max-width: 500px;
        margin-left: 110px;
    }
}
.main-watershed:last-child,
.main-watershed--first:last-child {
    margin-bottom: 0;
}
.main-watershed--first {
    margin-left: 0;
}
.main-watershed-title,
.main-resume {
    margin: 20px 0 10px 0;
    transition: 0.3s opacity ease;
}
.main-watershed-title:hover,
.main-resume:hover {
    opacity: 0.6;
}
.main-watershed-title:after,
.main-resume:after {
    position: relative;
    bottom: 0.2ex;
    margin-left: 20px;
    content: "";
    color: #62c4b0;
    font-family: "FontAwesome";
    font-size: 12px;
}
.main-watershed-title:first-child,
.main-resume:first-child {
    margin-top: 3px;
}
.main-watershed-description {
    margin: 0;
    line-height: 26px;
}

.main-list {
    clear: both;
    padding: 0;
    list-style-type: none;
}
@media (min-width: 1024px) {
    .main-list {
        float: left;
        margin: 20px 0 0 110px;
    }
}
.main-list-item {
    margin-bottom: 10px;
    font-weight: 600;
}
.main-list-item:before {
    position: relative;
    bottom: 0.2ex;
    margin-right: 20px;
    content: "";
    color: #39479D;
    font-family: "FontAwesome";
    font-size: 8px;
}
.main-experience {
    margin-bottom: 20px;
    height: 40px;
}
@media (min-width: 1024px) {
    .main-experience {
        max-width: 500px;
        margin-left: 110px;
    }
    .main-experience:first-of-type {
        margin-top: 3px;
    }
}
.main-experience-year {
    float: right;
    font-weight: 600;
    line-height: 26px;
}
.main-experience-year span {
    font-weight: 400;
    line-height: 26px;
}
.main-experience-info {
    float: left;
}
.main-experience-info-company {
    display: block;
    font-weight: 600;
    line-height: 26px;
}
.main-experience-info-position {
    display: block;
}
.main-resume {
    margin: 0;
}
.main-resume a {
    transition: 0.3s opacity ease;
}
@media (min-width: 1024px) {
    .main-resume {
        margin-left: 110px;
    }
}
.main-resume:hover a {
    opacity: 0.6;
}
/*# sourceMappingURL=style.css.map */

/* ROTATING WORDS */

.slidingVertical{
	display: block;
    opacity: 0.6;
    color: white;
    text-align: center;
    margin: 15px 30px 30px 0;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.slidingVertical span{
	animation: topToBottom 15s linear infinite 0s;
	-ms-animation: topToBottom 15s linear infinite 0s;
	-webkit-animation: topToBottom 15s linear infinite 0s;
    opacity: 0;
	position: absolute;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

.slidingVertical span:nth-child(6){
	animation-delay: 12.5s;
	-ms-animation-delay: 12.5s;
	-webkit-animation-delay: 12.5s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-20px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(20px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-20px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(20px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-20px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(20px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

/* SOCIAL */
.info-footer_social {
    display: block;
    position: relative;
    width: 200px;
    margin: 30px auto auto auto;
    right: 30px;
}


    
.info-footer_social-icon,
.info-footer_social-icon--linkedin,
.info-footer_social-icon--bitbucket,
.info-footer_social-icon--github,
.info-footer_social-icon--twitter {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s color ease;
    float: right;
}
.info-footer_social-icon:hover,
.info-footer_social-icon--linkedin:hover,
.info-footer_social-icon--bitbucket:hover,
.info-footer_social-icon--github:hover,
.info-footer_social-icon--twitter:hover {
    opacity: 1;
}